<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: 01_05_2023</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      <tr> <td>09:00</td>  <td>Introducing the shell</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Navigating files and directories</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Working with files and directories and pipes and filters</td> </tr>
      <tr> <td>14:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 1: 02_05_2023</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Loops and shell scripts </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Finding things</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Introduction to version control</td> </tr>
      <tr> <td>14:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: 03_05_2023</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Remotes in GitHub and collaborate </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Conflicts and Open science</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Licensing, citation, hosting and Git in Rstudio</td> </tr>
      <tr> <td>14:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: 04_05_2023</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Remotes in GitHub and collaborate </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Conflicts and Open science</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Licensing, citation, hosting and Git in Rstudio</td> </tr>
      <tr> <td>14:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
